In [2]:
import pandas as pd
# Load a sample dataset
df = pd.read_csv(r"C:\Users\PC\Desktop\dataset - 2020-09-24.csv")

In [3]:
print ( df.head())

                   Name  Jersey Number     Club    Position Nationality   Age  \
0            Bernd Leno            1.0  Arsenal  Goalkeeper     Germany  28.0
1            Matt Macey           33.0  Arsenal  Goalkeeper     England  26.0
2  Rúnar Alex Rúnarsson           13.0  Arsenal  Goalkeeper     Iceland  25.0
3       Héctor Bellerín            2.0  Arsenal    Defender       Spain  25.0
4        Kieran Tierney            3.0  Arsenal    Defender    Scotland  23.0

   Appearances  Wins  Losses  Goals  ...  Punches  High Claims  Catches  \
0           64    28      16      0  ...     34.0         26.0     17.0
1            0     0       0      0  ...      0.0          0.0      0.0
2            0     0       0      0  ...      0.0          0.0      0.0
3          160    90      37      7  ...      NaN          NaN      NaN
4           16     7       5      1  ...      NaN          NaN      NaN

   Sweeper clearances  Throw outs  Goal Kicks  Yellow cards  Red cards Fouls  \
0                28.0       375.0       489.0             2          0     0
1                 0.0         0.0         0.0             0          0     0
2                 0.0         0.0         0.0             0          0     0
3                 NaN         NaN         NaN            23          0   125
4                 NaN         NaN         NaN             2          0     9

   Offsides
0       NaN
1       NaN
2       NaN
3       8.0
4       0.0

[5 rows x 59 columns]